#stars{

position:absolute;

inset:0;

overflow:hidden;

pointer-events:none;

}

.star{

position:absolute;

border-radius:50%;

background:white;

opacity:.15;

animation:twinkle infinite ease-in-out;

box-shadow:
0 0 6px white,
0 0 12px #69dfff;

}

@keyframes twinkle{

0%,100%{

opacity:.15;
transform:scale(.8);

}

50%{

opacity:1;
transform:scale(1.6);

}

}